version: "3.9"
services:
	mongo:
		image: mongo:7
		restart: unless-stopped
		ports:
			- "27017:27017"
		volumes:
			- mongo_data:/data/db

	backend:
		build:
			context: ./backend
		environment:
			PORT: 5000
			MONGO_URI: mongodb://mongo:27017/blood
			JWT_SECRET: ${JWT_SECRET:?err}
			ADMIN_SECRET_KEY: ${ADMIN_SECRET_KEY:?err}
			SENDGRID_API_KEY: ${SENDGRID_API_KEY}
			EMAIL_FROM: ${EMAIL_FROM}
			NODE_ENV: production
		depends_on:
			- mongo
		ports:
			- "5000:5000"

	frontend:
		build:
			context: ./frontend
		environment:
			VITE_API_BASE: http://localhost:5000/api/v1
		ports:
			- "5173:5173"
		depends_on:
			- backend

volumes:
	mongo_data:
